<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/css/base.css"></head>
<body>

	<div class="container">
		<div class="row">
			<div id="main" class="col-md-8 col-sm-offset-1">
				<div class="artical">
					<h2 class="title content-title">{{ page.title }}</h2><p class="datetime">{{ page.date | date_to_string }}</p>
					<div class="content"> {{ content }}</div>
				</div>
			</div>

			<!-- aside -->
			{% include aside.html %}
		</div>

	</div>
</body>
</html>